<!doctype html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Description | default site.Params.description }}">
  {{ $style := resources.Get "css/wiki.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
</head>
<body>
  {{ partial "header.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  <script src="/pagefind/pagefind-ui.js"></script>
  {{ $search := resources.Get "js/search.js" | minify | fingerprint }}
  <script src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}"></script>
</body>
</html>

